---
import { getCollection } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';

const allPosts = await getCollection('blog');
const pageTitle = "Blog";
---
<BaseLayout pageTitle={pageTitle}>
    <div class="post-grid">
        {allPosts.map((post) => (
            <BlogPost 
                url={`/posts/${post.slug}/`} 
                title={post.data.title} 
                image={post.data.image.url} 
                alt={post.data.image.alt}
                description={post.data.description}
            />
        ))}
    </div>
</BaseLayout>